.scrollToForm {
	position: fixed;
	z-index: 20;
	bottom: 20px;
	left: 20px;
	background: linear-gradient(145deg, #31d547, #28a745);
	color: #3f3939;
	border: none;
	border-radius: 30px;
	padding: 10px 20px;
	font-size: 13px;
	cursor: pointer;
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
	animation: pulse 2s infinite;
	white-space: normal;
	box-shadow: 0px 4px 8px rgba(59, 140, 66, 0.3),
		0px 12px 24px rgba(59, 140, 66, 0.2);

	@keyframes pulse {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.1);
		}
		100% {
			transform: scale(1);
		}
	}

	&:hover {
		transform: scale(1.05);
		box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2),
			0px 20px 40px rgba(0, 0, 0, 0.2);
	}

	&:active {
		transform: scale(0.98);
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
	}
}
